<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}

<div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend class="col-xs-12 control-label text-align-center">Opciones Admin</legend>
                <form id="adminUsersList" class="form-horizontal" action="{% url 'Recommender:admin_users_list'%}" method="post">
                {% csrf_token %}
                    <p class="col-xs-12 control-label text-align-left">
                        Gestiona los datos y listas de usuario. Puedes ver los datos de un usuario
                        de forma individual. También puedes descargar datos de uno o varios usuarios
                        y descargar los datos de forma estructurada para poder analizarlos:
                    </p>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" type="submit">LISTA DE USUARIOS</button>
                    </p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                </form>
                <form id="adminHits" class="form-horizontal" action="{% url 'Recommender:admin_hits'%}" method="post">
                {% csrf_token %}
                    <p class="col-xs-12 control-label text-align-left">
                        Administra las canciones consideradas como Hits dentro del modelo Tracks:
                    </p>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" type="submit">ADMINISTRAR HITS</button>
                    </p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                </form>
                <form id="adminGenreTracks" class="form-horizontal" action="{% url 'Recommender:admin_genre_tracks'%}" method="post">
                {% csrf_token %}
                    <p class="col-xs-12 control-label text-align-left">
                        Administra las canciones más populares para cada género incluido en Banda Sonora Vital:
                    </p>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" type="submit">ADMINISTRAR GÉNEROS</button>
                    </p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                </form>
                <form id="adminSongsTagger" class="form-horizontal" action="{% url 'Recommender:admin_songs_tagger'%}" method="post">
                {% csrf_token %}
                    <p class="col-xs-12 control-label text-align-left">
                        Añade género e idioma a la base de datos de Tracks.
                        De momento no hay opción implementada para hacer esto automáticamente.
                        Esta es una opción para ir añadiendo manualmente estos datos a las canciones:
                    </p>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" type="submit">GESTIONAR CANCIONES</button>
                    </p>
                </form>
            </div>
        </div>
</div>

{% include 'Recommender/elements/footer.html' %}