<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                    <fieldset>
                        <legend class="col-xs-12 control-label text-align-center">Genre Tracks Database</legend>

                        <form id="downloadGenreTracksDB" class="form-horizontal" action="{% url 'Recommender:download_genre_tracks_db'%}" method="post">
                            {% csrf_token %}
                            <label class="col-xs-12 control-label text-align-left">Descargar Genre Tracks Database</label>
                            <p class="col-xs-12 control-label text-align-left">
                                Descargar la base de datos actual de Genre Tracks.
                                Utilizando esta opción se descarga toda la base de
                                datos en CSV. Para cada canción tenemos estas columnas: artist, title,
                                year, spotify_id, genre.
                            </p>
                            <p class="col-xs-12 control-label text-align-right">
                                <button class="btn btn-primary btn-sm" type="submit">DESCARGAR</button>
                            </p>
                            <p class="col-xs-12 control-label text-align-right"></p>
                        </form>

                        {% block content %}
                        <form id="addGenreTracks" class="form-horizontal" method="post" action="{% url 'Recommender:add_genre_tracks_to_db'%}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label class="col-xs-12 control-label text-align-left">Añadir canciones a Genre Tracks Database</label>
                            <p class="col-xs-12 control-label text-align-left">
                                Añadir canciones a la base de datos actual de Genre Tracks.
                                Al hacer clic en 'Añadir' se ha de seleccionar un archivo en CSV
                                con el formato especificado en la opción siguiente (Descargar Modelo Genre Tracks Database).
                            </p>
                            <p class="col-xs-12 control-label text-align-right">
                                <input type="file" name="addGenreTracksFile">
                                <button class="btn btn-primary btn-sm" type="submit">AÑADIR</button>
                            </p>
                            <p class="col-xs-12 control-label text-align-right"></p>
                        </form>
                        {% if uploaded_file_url %}
                            <p>File uploaded at:</p>
                        {% endif %}
                        {% endblock %}

                        <form id="downloadModelGenreTracksDB" class="form-horizontal" action="{% url 'Recommender:download_model_genre_tracks_db'%}" method="post">
                            {% csrf_token %}
                            <label class="col-xs-12 control-label text-align-left">Descargar Modelo Genre Tracks Database</label>
                            <p class="col-xs-12 control-label text-align-left">
                                Descargar en CSV el modelo o plantilla para poder subir Genre Tracks a la base
                                de datos. Utilizando esta opción se obtiene un CSV con una única fila que contiene
                                las columnas de referencia: artist, title, year, spotify_id, genre.
                            </p>
                            <p class="col-xs-12 control-label text-align-right">
                                <button class="btn btn-primary btn-sm" type="submit">DESCARGAR MODELO</button>
                            </p>
                            <p class="col-xs-12 control-label text-align-right"></p>
                        </form>

                        <form id="removeGenreTracksDB" class="form-horizontal" action="{% url 'Recommender:remove_genre_tracks_db'%}" method="post">
                            {% csrf_token %}
                            <label class="col-xs-12 control-label text-align-left">Borrar Genre Tracks Database</label>
                            <p class="col-xs-12 control-label text-align-left">
                                Borrar la base de datos de actual de Genre Tracks.
                                ¡CUIDADO! Utilizando esta opción se borra TODA LA BASE DE DATOS DE GENRE TRACKS.
                            </p>
                            <p class="col-xs-12 control-label text-align-right">
                                <button class="btn btn-primary btn-sm" type="submit">BORRAR</button>
                            </p>
                            <p class="col-xs-12 control-label text-align-right"></p>
                        </form>

                    </fieldset>
            </div>
        </div>
    </div>

{% include 'Recommender/elements/footer.html' %}