<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend>Nom d'usuari: {{ user_data.username }}</legend>
                <p class="col-xs-12 control-label text-align-left">Nom: {{ user_data.name }}</p>
                <p class="col-xs-12 control-label text-align-left">Naixement (any): {{ user_data.birth_year }}</p>
                <p class="col-xs-12 control-label text-align-left">Naixement (lloc): {{ user_data.birth_place }}</p>
                <p class="col-xs-12 control-label text-align-left">Submit (dia): {{ user_data.submit_day }}</p>
                <p class="col-xs-12 control-label text-align-left">Submit (hora): {{ user_data.submit_hour }}</p>
                <p class="col-xs-12 control-label text-align-left">Ha viscut a: {{ user_data.places_lived }}</p>
                <form id="formDataEntry" class="form-horizontal" action="{% url 'Recommender:admin_user_removal'%}" method="post"> {% csrf_token %}
                    <div class="form-group hidden" id=UserID>
                        <input class="form-control" id="UserID: {{ user_id }}" name="UserID: {{ user_id }}" type="text">
                    </div>
                    <p class="col-xs-12 control-label text-align-left">
                        <input type="submit" value="Remove this user">
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend>Secció: Relació amb la música</legend>
                <p class="col-xs-12 control-label text-align-left">Llocs de treball: {{ user_music.worked_at }}</p>
                <p class="col-xs-12 control-label text-align-left">Música a la feina?: {{ user_music.music_at_work }}</p>
                <p class="col-xs-12 control-label text-align-left">Toca instruments?: {{ user_music.instrument }}</p>
                <p class="col-xs-12 control-label text-align-left">Li agrada cantar?: {{ user_music.like_singing }}</p>
                <p class="col-xs-12 control-label text-align-left">Va cantar en un conjunt?: {{ user_music.group_singing }}</p>
                <p class="col-xs-12 control-label text-align-left">Li agrada ballar?: {{ user_music.like_dancing }}</p>
                <p class="col-xs-12 control-label text-align-left">Gèneres preferits: {{ user_music.preferred_genres }}</p>
                <p class="col-xs-12 control-label text-align-left">Cançons preferides: {{ user_music.preferred_songs }}</p>
                <p class="col-xs-12 control-label text-align-left">Artistes preferits: {{ user_music.preferred_artists }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend>Secció: Records i música</legend>
                <p class="col-xs-12 control-label text-align-left">Música per cantar o instrumental?: {{ user_memories.sing_instrumental }}</p>
                <p class="col-xs-12 control-label text-align-left">Música moguda o calmada?: {{ user_memories.upbeat_calm }}</p>
                <p class="col-xs-12 control-label text-align-left">Música alegre o melancòlica?: {{ user_memories.cheerful_melancholic }}</p>
                <p class="col-xs-12 control-label text-align-left">Instruments que li agrada escoltar: {{ user_memories.listen_instruments }}</p>
                <p class="col-xs-12 control-label text-align-left">Idiomes que li agrada escoltar: {{ user_memories.listen_languages }}</p>
                <p class="col-xs-12 control-label text-align-left">Recorda música de la infància?: {{ user_memories.childhood }}</p>
                <p class="col-xs-12 control-label text-align-left">Cançons que recorda de la infància: {{ user_memories.childhood_songs }}</p>
                <p class="col-xs-12 control-label text-align-left">Recorda música dels balls de joventut?: {{ user_memories.youth_dance }}</p>
                <p class="col-xs-12 control-label text-align-left">Cançons que recorda dels balls: {{ user_memories.youth_dance_songs }}</p>
                <p class="col-xs-12 control-label text-align-left">Recorda escoltar la ràdio quan era jove?: {{ user_memories.radio }}</p>
                <p class="col-xs-12 control-label text-align-left">Quins programes de ràdio?: {{ user_memories.radio_programmes }}</p>
                <p class="col-xs-12 control-label text-align-left">Recorda veure la tv quan era jove?: {{ user_memories.tv }}</p>
                <p class="col-xs-12 control-label text-align-left">Quins programes de tv?: {{ user_memories.tv_programmes }}</p>
                <p class="col-xs-12 control-label text-align-left">Cançons a la seva boda: {{ user_memories.wedding_songs }}</p>
                <p class="col-xs-12 control-label text-align-left">Alguna cançó li porta bons records? {{ user_memories.good_memories }}</p>
                <p class="col-xs-12 control-label text-align-left">Quines?: {{ user_memories.good_memories_songs }}</p>
                <p class="col-xs-12 control-label text-align-left">Alguna cançó li porta records desagradables?: {{ user_memories.bad_memories }}</p>
                <p class="col-xs-12 control-label text-align-left">Quina?: {{ user_memories.bad_memories_song }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend>Playlist</legend>
                <p class="col-xs-12 control-label text-align-left">Playlist Length: {{ playlist_length }}</p>
                <p class="col-xs-12 control-label text-align-left">Playlist URL: {{ playlist_url }}</p>
                <p class="col-xs-12 control-label text-align-left">Playlist Feedback Text: {{ playlist_fb_text }}</p><br><br>
                {% for track in playlist %}
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <label class="col-xs-12 control-label text-align-left">#{{ track.pos }}:  {{ track.title }} ({{ track.artist }})</label>
                    <p class="col-xs-12 control-label text-align-left">Playlist Group: {{ track.playlist_group }}</p>
                    <p class="col-xs-12 control-label text-align-left">Youtube:</p>
                    <iframe class="col-xs-12 control-label text-align-left"
                            height="300" src="{{track.youtube}}"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="col-xs-12 control-label text-align-left">Spotify:</p>
                    <iframe class="col-xs-12 control-label text-align-left"
                            src="https://open.spotify.com/embed/track/{{track.spotify_id}}" width="300" height="380"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <p class="col-xs-12 control-label text-align-left">Spotify ID: {{ track.spotify_id }}</p>
                    <p class="col-xs-12 control-label text-align-left">Feedback / Familiar: {{ track.fb_familiar }}</p>
                    <p class="col-xs-12 control-label text-align-left">Feedback / Like: {{ track.fb_like }}</p>
                    <p class="col-xs-12 control-label text-align-left">Feedback / Memories: {{ track.fb_memories }}</p>
                    <p class="col-xs-12 control-label text-align-left">Feedback / Listen Again : {{ track.fb_listen_again }}</p>
                    <p class="col-xs-12 control-label text-align-left">Feedback / Text: {{ track.fb_text }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% include 'Recommender/elements/footer.html' %}