<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <legend class="col-xs-12 control-label text-align-center">Download Data</legend>
                <p class="col-xs-12 control-label text-align-left">
                    Haz clic aquí para acceder a las
                    <a href="{% url 'Recommender:admin_user_download_options' %}">opciones de descarga de datos</a>
                </p>
            </div>
        </div>
    </div>

    {% for user in users %}
    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <label class="col-xs-12 control-label text-align-center">{{ user.name }}</label>
                <div class="col-xs-12 text-align-center">{{ user.username }}</div>
                <p class="col-xs-12 control-label text-align-center"></p>
                <p class="col-xs-12 control-label text-align-center">
                    <a href="{% url 'Recommender:profile_manager_menu'%}?user={{ user.user_id }}">
                        <input type="submit" class="btn btn-primary btn-sm" value="VER USUARIO">
                    </a>
                </p>
                <p class="col-xs-12 control-label text-align-center"></p>
                <p class="col-xs-12 control-label text-align-center">
                    <a href="{% url 'Recommender:admin_user_removal'%}?user={{ user.user_id }}">
                        <input type="submit" class="btn btn-primary btn-sm" value="ELIMINAR USUARIO">
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

{% include 'Recommender/elements/footer.html' %}