<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load i18n %}

<div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <form id="formDataEntry" class="form-horizontal" action="{% url 'Recommender:admin_login'%}" method="post">
                {% csrf_token %}
                    <fieldset>
                        <legend class="col-xs-12 control-label text-align-center">Admin Access</legend>
                        <div class="form-group">
                            <label class="col-xs-12 control-label text-align-left">Username</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="inputUsername" name="inputUsername" type="text">
                            </div>
                            <label class="col-xs-12 control-label text-align-left">Password</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="inputPassword" name="inputPassword" type="password">
                                <div class="col-xs-2 hide-show"><span>Show</span></div>
                            </div>
                        </div>
                    </fieldset>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" type="submit" id="id_button">{% trans 'send' %}</button>
                    </p>
                </form>
            </div>
        </div>
</div>


<script>
$(function(){
  $('.hide-show').show();
  $('.hide-show span').addClass('show')

  $('.hide-show span').click(function(){
    if( $(this).hasClass('show') ) {
      $(this).text('Hide');
      $('input[name="inputPassword"]').attr('type','text');
      $(this).removeClass('show');
    } else {
       $(this).text('Show');
       $('input[name="inputPassword"]').attr('type','password');
       $(this).addClass('show');
    }
  });

    $('form button[type="submit"]').on('click', function(){
        $('.hide-show span').text('Show').addClass('show');
        $('.hide-show').parent().find('input[name="inputPassword"]').attr('type','password');
    });
});
</script>

{% include 'Recommender/elements/footer.html' %}