<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}
{% load i18n %}

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <form id="formUserCreation" class="form-horizontal" action="{% url 'Recommender:user_registration'%}" method="post">
                {% csrf_token %}
                    <fieldset>
                        <legend class="col-xs-12 control-label text-align-center">{% trans 'signup' %}</legend>
                        <div class="form-group">
                            <label class="col-xs-12 control-label text-align-left" for="id_username">{% trans 'name' %}:</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="first_name" maxlength="150" name="first_name" type="text" autofocus required>
                            </div>
                            <label class="col-xs-12 control-label text-align-left" for="id_username">{% trans 'email' %}:</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="id_username" maxlength="150" name="username" type="text" autofocus required>
                            </div>
                            <div class="col-xs-12" id="id_username_msg"></div>
                            <label class="col-xs-12 control-label text-align-left" for="id_password1">{% trans 'password' %}:</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="id_password1" name="password1" type="password" required>
                            </div>
                            <div class="col-xs-12" id="id_pwd1_msg"></div>
                            <label class="col-xs-12 control-label text-align-left"  for="id_password2">{% trans 'password_confirmation' %}:</label>
                            <div class="col-xs-12">
                                <input class="form-control" id="id_password2" name="password2" type="password" required>
                            </div>
                            <div class="col-xs-12" id="id_pwd2_msg"></div>
                        </div>
                    </fieldset>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p align="center">
                        <button type="submit" id="id_button" class="btn btn-primary btn-sm hidden">{% trans 'register_button' %}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <script>
    function CheckEmail() {
    $.get('/email_validation', { email: $("#id_username").val() },
        function(data){
            if(data == "3"){
                $('#id_username_msg').html("");
            } else if(data == "2"){
                $('#id_username_msg').html("Ja hi ha un compte per a aquesta adreça de correu electrònic.");
            } else if(data == "1"){
                $('#id_username_msg').html("Adreça de correu no vàlida.");
            } else if(data == "0"){
                $('#id_username_msg').html("");
            } else if(data == "4"){
                $('#id_username_msg').html("Dirección de correo no válida.");
            } else if(data == "5"){
                $('#id_username_msg').html("Ya hay una cuenta para esta dirección de correo electrónico.");
            } else if(data == "6"){
                $('#id_username_msg').html("");
            }
    });
    }
    function CheckPwd() {
    $.get('/password_validation', { password1: $("#id_password1").val(), password2: $("#id_password2").val() },
        function(data){
            if(data == "4"){
                $('#id_pwd2_msg').html("");
                $('#id_pwd1_msg').html("");
            } else if(data == "3"){
                $('#id_pwd2_msg').html("La contrasenya de confirmació no coincideix amb la de dalt. Si us plau, proveu a introduir-la de nou.");
                $('#id_pwd1_msg').html("");
            } else if(data == "2"){
                $('#id_pwd2_msg').html("");
                $('#id_pwd1_msg').html("");
            } else if(data == "1"){
                $('#id_pwd2_msg').html("");
                $('#id_pwd1_msg').html("La contrasenya ha de tenir una longitud mínima de 8 caràcters i contenir almenys una lletra i almenys un dígit o signe de puntuació.");
            } else if(data == "0"){
                $('#id_pwd2_msg').html("");
                $('#id_pwd1_msg').html("");
            } else if(data == "5"){
                $('#id_pwd2_msg').html("");
                $('#id_pwd1_msg').html("La contraseña debe tener una longitud mínima de 8 caracteres y contener al menos una letra y al menos un dígito o signo de puntuación.");
            } else if(data == "7"){
                $('#id_pwd2_msg').html("La contraseña de confirmación no coincide con la de arriba. Por favor, prueba a introducirla de nuevo.");
                $('#id_pwd1_msg').html("");
            }
    });
    }
    function CheckButton() {
    $.get('/register_button_validation', { email: $("#id_username").val(), password1: $("#id_password1").val(), password2: $("#id_password2").val() },
        function(data){
            if(data == "True"){
                $('#id_button').removeClass('hidden');
            } else if(data == "False"){
                $('#id_button').addClass('hidden');
            }
    });
    }
    function onChange(){
        $("#id_username").change( function() {CheckEmail()});
        $("#id_password1").change( function() {CheckPwd()});
        $("#id_password2").change( function() {CheckPwd()});
        $("#id_username").change( function() {CheckButton()});
        $("#id_password1").change( function() {CheckButton()});
        $("#id_password2").change( function() {CheckButton()});
    }
    $(document).ready(onChange);

    $(function(){
        $('.hide-show').show();
        $('.hide-show span').addClass('show')

        $('.hide-show span').click(function(){
            if( $(this).hasClass('show') ) {
                $(this).text('Hide');
                $('input[name="inputPassword"]').attr('type','text');
                $(this).removeClass('show');
            } else {
                $(this).text('Show');
                $('input[name="inputPassword"]').attr('type','password');
                $(this).addClass('show');
            }
        });

        $('form button[type="submit"]').on('click', function(){
            $('.hide-show span').text('Show').addClass('show');
            $('.hide-show').parent().find('input[name="inputPassword"]').attr('type','password');
        });
    });
    </script>

    <hr />

    {% include 'Recommender/elements/footer.html' %}