<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <p align="left">
                {% trans 'oops_msg_1' %}
                <a href="{% url 'Recommender:login'%}">
                    {% trans 'oops_msg_2' %}
                </a>
            </p>
        </div>
    </div>
</div>

{% include 'Recommender/elements/footer.html' %}
