<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load i18n %}

<body>

<div class="container" style="width:70%">
    {#    <p class="text-align-center margin-20-top">{% trans 'playlist_request_1' %}, {{ profile.name }}</p>#}
    {#    <p class="text-align-center">{% trans 'playlist_request_2' %}</p>#}

    <div class="col-xs-8 col-xs-offset-2">
        <div class="alert alert-dismissible alert-warning margin-20-top">
            <h4>{% trans 'playlist_request_3' %}, {{ profile.name }}</h4>
            <p>{% trans 'playlist_request_4' %}</p>
            <div class="bs-component">
                <div class="progress progress-striped active progress-bar-format">
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<hr />
{% include 'Recommender/elements/footer.html' %}

    <script>
    window.location.replace("/create_playlist/?user={{ user_id }}&id=" + {{ profile.id }});

    var progressBar = $('.progress-bar');

    progressBar.css('width', 100 + '%')
    //width = 100;

    //progressBar.width(width);

    //var interval = setInterval(function() {
        //width += 1;
        //progressBar.css('width', width + '%');
        //if (width >= 100) {
        //    clearInterval(interval);
        //}
    //}, {{ wait }});
    </script>

</body>