<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <form id="formCreateProfile" class="form-horizontal" action="{% url 'Recommender:profile_save'%}?user={{ user_id }}" method="post">
                {% csrf_token %}
                <fieldset>
                        <legend class="col-xs-12 control-label text-align-center">{% trans 'profile_create_1' %}</legend>
                        <div class="form-group">
                            <label class="col-xs-12 control-label text-align-left">{% trans 'name' %} *</label>
                            <div class="col-xs-12">
                                <input class="form-control" name="name" placeholder="{% trans 'name_placeholder' %}" type="text" required value="{{ user_data.name }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12 control-label text-align-left">{% trans 'birth_year' %} *</label>
                            <div class="col-xs-12">
                                <input class="form-control" name="birthyear" placeholder="AAAA" type="text" required value="{{ user_data.birth_year }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectRegion" class="col-xs-12 control-label text-align-left">{% trans 'birth_place' %} *</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="selectRegion" name="birthplace" required>
                                    <option value=''>{% trans 'choose_option' %}</option>
                                    {% for region in regions %}
                                        <option value="{{ region }}">{{ region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectLanguage" class="col-xs-12 control-label text-align-left">{% trans 'profile_language' %} *</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="selectLanguage" name="language" required>
                                    <option value=''>{% trans 'choose_option' %}</option>
                                    <option value="ca">{% trans 'catalan_language' %}</option>
                                    <option value="es">{% trans 'spanish_language' %}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                <p class="col-xs-12 control-label text-align-center">
                    <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'profile_create_2' %}">
                </p>
            </form>
            <form id="cancelCreateProfile" class="form-horizontal" action="{% url 'Recommender:profile_manager_menu'%}?user={{ user_id }}" method="post">
                {% csrf_token %}
                <p class="col-xs-12 control-label text-align-center">
                    <br>
                    <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'profile_create_3' %}">
                </p>
            </form>
        </div>
    </div>
</div>

{% include 'Recommender/elements/footer.html' %}