<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}
{% load i18n %}


<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <legend class="col-xs-12 control-label text-align-center">{% trans 'profiles' %} {% trans 'of' %} {{ user_first_name }}<br> ( {{ user }} )</legend>
            <p class="col-xs-12 control-label text-align-justify">
                {% trans 'profile_manager_menu_txt' %}:
            </p>

            {% for profile in profiles %}
            <div class="well bs-component col-xs-12 margin-20-top">
                <form id="formDataEntry" class="form-horizontal" action="{% url 'Recommender:profile'%}?user={{ user_id }}&id={{ profile.id }}" method="post">
                    {% csrf_token %}
                        <label class="col-xs-12 control-label text-align-left">{% trans 'name' %}: {{ profile.name }}</label>
                        <div class="col-xs-8">{% trans 'birth_year' %}: {{ profile.birth_year }}</div>
                        <div class="col-xs-8">{% trans 'birth_place' %}: {{ profile.birth_place }}</div>
                        <div class="col-xs-8">{% trans 'profile_language' %}: {{ profile.language }}</div>
                        <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'go_to_profile' %}">
                </form>
            </div>
            {% endfor %}

            {% if no_profiles_yet is True %}
                <label class="col-xs-12 control-label text-align-center">
                    {% trans 'no_profiles_yet' %}
                </label>
                <p class="col-xs-12 control-label text-align-justify"></p>
            {% endif %}

            <form id="createProfile" class="form-horizontal" action="{% url 'Recommender:profile_create'%}?user={{ user_id }}" method="post">
                {% csrf_token %}
                <p class="col-xs-12 control-label text-align-center">
                    <input type="submit" name="createProfile" class="btn btn-primary btn-sm" value="{% trans 'create_profile' %}">
                </p>
                <p class="col-xs-12 control-label text-align-left"></p>
            </form>
        </div>
    </div>
</div>

{% include 'Recommender/elements/footer.html' %}