<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <legend class="col-xs-12 control-label text-align-center">{{ profile.name }}</legend>
            <label class="col-xs-12 control-label text-align-center">{% trans 'birth_year' %}:</label>
            <div class="col-xs-12 control-label text-align-center">{{ profile.birth_year }}</div>
            <p class="col-xs-12 control-label text-align-center"></p>
            <label class="col-xs-12 control-label text-align-center">{% trans 'birth_place' %}:</label>
            <div class="col-xs-12 control-label text-align-center">{{ profile.birth_place }}</div>
            <p class="col-xs-12 control-label text-align-center"></p>
            <label class="col-xs-12 control-label text-align-center">{% trans 'profile_language' %}:</label>
            <div class="col-xs-12 control-label text-align-center">{{ profile.language }}</div>
            {% if profile.form is not None %}
                <p class="col-xs-12 control-label text-align-center"></p>
                <label class="col-xs-12 control-label text-align-center">{% trans 'profile_places_lived' %}:</label>
                <div class="col-xs-12 control-label text-align-center">{{ profile.form.other_data.places_lived }}</div>
                <p class="col-xs-12 control-label text-align-center"></p>
                <label class="col-xs-12 control-label text-align-center">{% trans 'sent_form' %}:</label>
                <div class="col-xs-12 control-label text-align-center">{{ profile.form.other_data.submit_day }}</div>
                <div class="col-xs-12 control-label text-align-center">{{ profile.form.other_data.submit_hour }}</div>
                <p class="col-xs-12 control-label text-align-center"></p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <legend class="col-xs-12 control-label text-align-center">{% trans 'questionnaire' %}</legend>
            {% if profile.form is None %}
                <div class="col-xs-12 text-align-center">{% trans 'questionnaire_empty_txt' %}</div>
                <div class="col-xs-12 text-align-center">{% trans 'questionnaire_fill_in_txt' %}</div>
            {% else %}
                <div class="col-xs-12 text-align-center">{% trans 'questionaire_filled_txt' %}</div>
                <div class="col-xs-12 text-align-center">{% trans 'questionnaire_modify_txt' %}</div>
            {% endif %}
            <form id="goToDataEntry" class="form-horizontal" action="{% url 'Recommender:data_entry'%}?user={{ profile.user_id }}&id={{ profile.id }}" method="post">
                {% csrf_token %}
                <p class="col-xs-12 control-label text-align-center">
                    {% if profile.form is None %}
                        <input type="submit" class="btn btn-primary btn-sm" name="goToDataEntry" value="{% trans 'questionnaire_fill_in_btn' %}">
                    {% else %}
                        <input type="submit" class="btn btn-primary btn-sm" name="goToDataEntry" value="{% trans 'questionnaire_modify_btn' %}">
                    {% endif %}
                </p>
            </form>
            <p class="col-xs-12 control-label text-align-left"></p>
            <p class="col-xs-12 control-label text-align-left"></p>
            {% if profile.form is not None %}
                <div class="col-xs-12 text-align-center">{% trans 'questionnaire_current_data' %}</div>
                <p class="col-xs-12 control-label text-align-left"></p>
                <p class="col-xs-12 control-label text-align-center">
                    <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#formCollapse">{% trans 'see_option' %}</button>
                </p>
                <div id="formCollapse" class="collapse">
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <label class="col-xs-12 control-label text-align-center">{% trans 'relation_music' %}</label>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_worked_at' %}: {{ profile.form.music.worked_at }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_music_at_work' %}: {{ profile.form.music.music_at_work }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_play_instruments' %}: {{ profile.form.music.instrument }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_like_singing' %}: {{ profile.form.music.like_singing }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_group_singing' %}: {{ profile.form.music.group_singing }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_like_dancing' %}: {{ profile.form.music.like_dancing }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_genres' %}: {{ profile.form.music.preferred_genres }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_songs' %}: {{ profile.form.music.preferred_songs }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_artists' %}: {{ profile.form.music.preferred_artists }}</p>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <label class="col-xs-12 control-label text-align-center">{% trans 'memories_music' %}</label>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_sing_instrumental' %}: {{ profile.form.memories.sing_instrumental }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_upbeat_calm' %}: {{ profile.form.memories.upbeat_calm }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_cheerful_melancholic' %}: {{ profile.form.memories.cheerful_melancholic }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_listen_instruments' %}: {{ profile.form.memories.listen_instruments }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_listen_languages' %}: {{ profile.form.memories.listen_languages }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_childhood' %}: {{ profile.form.memories.childhood }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_childhood_songs' %}: {{ profile.form.memories.childhood_songs }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_youth_dance' %}: {{ profile.form.memories.youth_dance }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_youth_dance_songs' %}: {{ profile.form.memories.youth_dance_songs }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_radio' %}: {{ profile.form.memories.radio }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_radio_programmes' %}: {{ profile.form.memories.radio_programmes }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_tv' %}: {{ profile.form.memories.tv }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_tv_programmes' %}: {{ profile.form.memories.tv_programmes }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_wedding_songs' %}: {{ profile.form.memories.wedding_songs }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_good_memories' %}: {{ profile.form.memories.good_memories }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_good_memories_songs' %}: {{ profile.form.memories.good_memories_songs }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_bad_memories' %}: {{ profile.form.memories.bad_memories }}</p>
                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_good_memories_songs' %}: {{ profile.form.memories.bad_memories_song }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <legend class="col-xs-12 control-label text-align-center">{% trans 'profile_playlist' %}</legend>
            {% if profile.form is not None %}
                {% if profile.playlist is None %}
                    <div class="col-xs-12 text-align-center">{% trans 'playlist_generate_txt' %}</div>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p align="center">
                        <a href="{% url 'Recommender:create_playlist_request'%}?user={{ profile.user_id }}&id={{ profile.id }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'playlist_generate_btn' %}">
                        </a>
                    </p>
                {% else %}
                    <div class="col-xs-12 text-align-center">{% trans 'playlist_go_txt' %}</div>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p align="center">
                        <a href="{% url 'Recommender:playlist'%}?user={{ profile.user_id }}&id={{ profile.id }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'playlist_go_btn' %}">
                        </a>
                    </p>
                    <br>
                    <div class="col-xs-12 text-align-center">{% trans 'playlist_add_txt' %}</div>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p align="center">
                        <a href="{% url 'Recommender:create_playlist_request'%}?user={{ profile.user_id }}&id={{ profile.id }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'playlist_add_btn' %}">
                        </a>
                    </p>
                    <br>
                    <div class="col-xs-12 text-align-center">{% trans 'playlist_current' %}</div>
                    <p class="col-xs-12 control-label text-align-left"></p>
                    <p class="col-xs-12 control-label text-align-center">
                        <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#playlistCollapse">{% trans 'see_option' %}</button>
                    </p>
                    <div id="playlistCollapse" class="collapse">
                        <label class="col-xs-12 control-label text-align-center">{% trans 'profile_playlist' %}</label>
                        <p class="col-xs-12 control-label text-align-left">{% trans 'playlist_current_length' %}: {{ profile.playlist.length }}</p>
                        <p class="col-xs-12 control-label text-align-left">{% trans 'profile_playlist_url' %}: {{ profile.playlist.url }}</p>
                        <p class="col-xs-12 control-label text-align-left">{% trans 'profile_playlist_feedback_text' %}: {{ profile.playlist.feedback_text }}</p><br><br>
                        {% for track in profile.playlist.tracks %}
                            {% if track.pos != 0 or profile.superuser is True %}
                                <p class="col-xs-12 control-label text-align-left"></p>
                                <label class="col-xs-12 control-label text-align-left">#{{ track.pos }}:  {{ track.title }} ({{ track.artist }})</label>
                                {% if profile.superuser is True %}
                                    <p class="col-xs-12 control-label text-align-left">{% trans 'profile_playlist_group' %}: {{ track.playlist_group }}</p>
                                {% endif %}
                                <iframe class="col-xs-12 control-label text-align-left"
                                    height="300" src="{{track.youtube}}"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <iframe class="col-xs-12 control-label text-align-left"
                                    src="https://open.spotify.com/embed/track/{{track.spotify_id}}" width="300" height="380"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                <p class="col-xs-12 control-label text-align-left">{% trans 'feedback_familiar' %}: {{ track.fb_familiar }}</p>
                                <p class="col-xs-12 control-label text-align-left">{% trans 'feedback_like' %}: {{ track.fb_like }}</p>
                                <p class="col-xs-12 control-label text-align-left">{% trans 'feedback_listen_again' %}: {{ track.fb_memories }}</p>
                                <p class="col-xs-12 control-label text-align-left">{% trans 'feedback_memories' %}: {{ track.fb_listen_again }}</p>
                                <p class="col-xs-12 control-label text-align-left">{% trans 'feedback_text' %}: {{ track.fb_text }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <div class="col-xs-12 text-align-center">{% trans 'profile_playlist_fill_in_txt' %}</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <legend class="col-xs-12 control-label text-align-center">{% trans 'profile_other_options' %}</legend>

            <div class="col-xs-12 text-align-center">{% trans 'profile_delete_txt' %}</div>
            <p class="col-xs-12 control-label text-align-left"></p>
            <form id="deleteProfile" class="form-horizontal" action="{% url 'Recommender:profile_delete'%}?user={{ profile.user_id }}&id={{ profile.id }}" method="post">
                {% csrf_token %}
                <p class="col-xs-12 text-align-center">
                    <input type="submit" class="btn btn-primary btn-sm" name="deleteProfile" value="{% trans 'profile_delete_btn' %}">
                </p>
                <p class="col-xs-12 control-label text-align-left"></p>
            </form>

            <p class="col-xs-12 control-label text-align-left"></p>
            <p class="col-xs-12 control-label text-align-left"></p>

            <div class="col-xs-12 text-align-center">{% trans 'profile_go_profiles_txt' %}</div>
            <p class="col-xs-12 control-label text-align-left"></p>
            <form id="goToProfileMenu" class="form-horizontal" action="{% url 'Recommender:profile_manager_menu'%}?user={{ profile.user_id }}" method="post">
                {% csrf_token %}
                <p class="col-xs-12 text-align-center">
                    <input type="submit" class="btn btn-primary btn-sm" name="goToProfileMenu" value="{% trans 'profile_go_profiles_btn' %}">
                </p>
                <p class="col-xs-12 control-label text-align-left"></p>
            </form>
        </div>
    </div>
</div>

{% include 'Recommender/elements/footer.html' %}