<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118272516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118272516-1');
</script>

{% include 'Recommender/elements/header.html' %}
{% load staticfiles %}

    <div class="container">
        <div class="row">
            <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
                <fieldset>
                    <legend class="col-xs-12 control-label text-align-center">Buscar Canción</legend>
                        <form id="trackSearch" class="form-horizontal" action="{% url 'Recommender:track_results'%}" method="post">
                            {% csrf_token %}
                            <div class="col-xs-12 control-label text-align-left">
                                <label class="control-label text-align-left">Título:</label>
                                <input class="form-control" id="trackTitle" name="trackTitle">
                            </div>
                            <div class="col-xs-12 control-label text-align-left">
                                <label class="control-label text-align-left">Artista:</label>
                                <input class="form-control" id="trackArtist" name="trackArtist">
                            </div>
                            <input class="form-control" id="pageId" name="pageId" value="{{ page_id }}" type="hidden">
                            <p class="col-xs-12 control-label text-align-center">
                                <button class="btn btn-primary btn-sm" type="submit">BUSCAR</button>
                            </p>
                        </form>
                </fieldset>
            </div>
        </div>
    </div>

    <hr />

{% include 'Recommender/elements/footer.html' %}