<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Recommender/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Recommender/custom.css' %}" />
    <script src="{% static 'Recommender/jquery-1.11.2.js' %}"></script>
    <meta charset="UTF-8">
    <meta author="Music Technology Group, Universitat Pompeu Fabra">
    <title>Banda sonora vital</title>
</head>
<body>
<br>
<center>
    <a href="{% url 'Recommender:home' %}">
        <img src="{% static 'Recommender/images/BSV_logo2.png' %}" height="150">
    </a>
</center>
